@font-face {
    font-family: 'Infinity Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Infinity Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Infinity Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/InfinitySans/InfinitySans-ExtraBold.otf') format('opentype');
}
